[access]
	inheritFrom = All-Projects
[project]
	description = attnetworkcloudcicdsecurities
[access "refs/*"]
	owner = group user/sandeep-nxn131630
[access "refs/for/refs/*"]
	read = group user/sandeep-nxn131630
	push = group user/sandeep-nxn131630
	label-Code-Review = -2..+2 group user/sandeep-nxn131630
	label-Verified = -1..+1 group user/sandeep-nxn131630
	rebase = group user/sandeep-nxn131630
	removeReviewer = group user/sandeep-nxn131630
	submit = group user/sandeep-nxn131630
[access "refs/heads/*"]
	read = group user/sandeep-nxn131630
	create = group user/sandeep-nxn131630
	push = +force group user/sandeep-nxn131630
	pushMerge = group user/sandeep-nxn131630
[access "refs/tags/*"]
	push = group user/sandeep-nxn131630
	push = +force group user/sandeep-nxn131630
